@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap");
@import '_variables.scss';



/*COLOR*/
[data-theme="light"] {

  
     /*ACENT COLOR WEB*/

    --acent-100: #{lighten($light-acent,40%)};
    --acent-200: #{lighten($light-acent,30%)};
    --acent-300: #{lighten($light-acent,20%)};
    --acent-400: #{lighten($light-acent,10%)};
    --acent-500: #{$light-acent};
    --acent-600: #{darken($light-acent,10%)};
    --acent-700: #{darken($light-acent,20%)};
    --acent-800: #{darken($light-acent,30%)};
    --acent-900: #{darken($light-acent,40%)};
  
   /*PRIMARY COLOR WEB*/
    --primary-100: #{lighten($light-primary,40%)};
    --primary-200: #{lighten($light-primary,30%)};
    --primary-300: #{lighten($light-primary,20%)};
    --primary-400: #{lighten($light-primary,10%)};
    --primary-500: #{$light-primary};
    --primary-600: #{darken($light-primary,10%)};
    --primary-700: #{darken($light-primary,20%)};
    --primary-800: #{darken($light-primary,30%)};
    --primary-900: #{darken($light-primary,40%)};
  
     /*SECUNDARY COLOR WEB*/
    --secundary-100: #{lighten($light-secundary,40%)};
    --secundary-200: #{lighten($light-secundary,30%)};
    --secundary-300: #{lighten($light-secundary,20%)};
    --secundary-400: #{lighten($light-secundary,10%)};
    --secundary-400: #{lighten($light-secundary,10%)};
    --secundary-500: #{$light-secundary};
    --secundary-600: #{darken($light-secundary,10%)};
    --secundary-700: #{darken($light-secundary,20%)};
    --secundary-800: #{darken($light-secundary,30%)};
    --secundary-900: #{darken($light-secundary,40%)};
  
  
       /*BACKGRAUND & LEVEL*/
  --bg-level-0: #{$light-primary};
  --bg-level-1: #{lighten($light-secundary,40%)};

       /*TEXT COLOR*/
       --textColor-primary: #{darken($light-primary,30%)};
       --textColor-secundary: #{darken($light-secundary,40%)};
       --textColor-acent: #{darken($light-acent,10%)};
       --textColor-strong: #000;
       --textColor-medium: #f8f8f8;
         
  
     }
     
     [data-theme="dark"] {
  

        /*ACENT COLOR WEB*/

        --acent-100: #{lighten($dark-acent,40%)};
        --acent-200: #{lighten($dark-acent,30%)};
        --acent-300: #{lighten($dark-acent,20%)};
        --acent-400: #{lighten($dark-acent,10%)};
        --acent-500: #{$dark-acent};
        --acent-600: #{darken($dark-acent,10%)};
        --acent-700: #{darken($dark-acent,20%)};
        --acent-800: #{darken($dark-acent,30%)};
        --acent-900: #{darken($dark-acent,40%)};
      
       /*PRIMARY COLOR WEB*/
        --primary-100: #{lighten($dark-primary,40%)};
        --primary-200: #{lighten($dark-primary,30%)};
        --primary-300: #{lighten($dark-primary,20%)};
        --primary-400: #{lighten($dark-primary,10%)};
        --primary-500: #{$dark-primary};
        --primary-600: #{darken($dark-primary,10%)};
        --primary-700: #{darken($dark-primary,20%)};
        --primary-800: #{darken($dark-primary,30%)};
        --primary-900: #{darken($dark-primary,40%)};
      
         /*SECUNDARY COLOR WEB*/
        --secundary-100: #{lighten($dark-secundary,40%)};
        --secundary-200: #{lighten($dark-secundary,30%)};
        --secundary-300: #{lighten($dark-secundary,20%)};
        --secundary-400: #{lighten($dark-secundary,10%)};
        --secundary-500: #{$dark-secundary};
        --secundary-600: #{darken($dark-secundary,10%)};
        --secundary-700: #{darken($dark-secundary,20%)};
        --secundary-800: #{darken($dark-secundary,30%)};
        --secundary-900: #{darken($dark-secundary,40%)};
      
      
              /*BACKGRAUND & LEVEL*/
  --bg-level-0: #{$dark-bg};
  --bg-level-1: #{darken($dark-secundary,40%)};

  /*TEXT COLOR*/
  --textColor-primary: #{darken($dark-primary,30%)};
  --textColor-secundary: #{darken($dark-secundary,40%)};
  --textColor-acent: #{darken($dark-acent,10%)};
  --textColor-strong: #fff;
  --textColor-medium: #ccc;
     
      }



body {
  background: var(--bg-level-0);
}

h1, h2, h3, h4, p, svg {
 color: var(--textColor-strong);
 fill: var(--textColor-strong);
}


.sun, .moon{
    font-size: 10rem;
    width: fit-content;
    height: fit-content;
}
.moon{
    position: absolute;
    inset: 0;
}
.moon-logo{
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 300ms ease-out;
}
.sun-logo{
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 300ms ease-out;
    fill: white;
    
}
.animate-sun{
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
}
.animate-moon{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
}
.animate-moon path{
  fill: white;
}
.animate-sun path{
  fill: white;
}
.toggle-me{
  position: absolute;
    top: 10px;
    right: 25px;
    width: 20px;
    height: 20px;
    z-index: 9;
  & svg {
    width: 100%;
    float: left;
  }
}

.grid-color{
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr  1fr ;
    padding: 16px;
    background-color: var(--bg-level-1);
      box-sizing: border-box;
      -webkit-box-shadow: 2px 4px 8px -3px #0000008c;
      -moz-box-shadow: 2px 4px 8px -3px #0000008c;
      box-shadow: 2px 4px 8px -3px #0000008c;
      border-radius: 30px;
      padding: 30px;
      box-sizing: border-box;
      width: 80%;
      margin: 20px auto;
     

      &__item-primary{
        text-align: center;
        height: 100px;
       &--100{
        background-color: var(--primary-100);
       }
       &--200{
        background-color: var(--primary-200);
       }
       &--300{
        background-color: var(--primary-300);
       }
       &--400{
        background-color: var(--primary-400);
       }
       &--500{
        background-color: var(--primary-500);
       }
       &--600{
        background-color: var(--primary-600);
       }
       &--700{
        background-color: var(--primary-700);
       }
       &--800{
        background-color: var(--primary-800);
       }
       &--900{
        background-color: var(--primary-900);
       }
      }

      &__item-secundary{
        text-align: center;
        height: 100px;
       &--100{
        background-color: var(--secundary-100);
       }
       &--200{
        background-color: var(--secundary-200);
       }
       &--300{
        background-color: var(--secundary-300);
       }
       &--400{
        background-color: var(--secundary-400);
       }
       &--500{
        background-color: var(--secundary-500);
       }
       &--600{
        background-color: var(--secundary-600);
       }
       &--700{
        background-color: var(--secundary-700);
       }
       &--800{
        background-color: var(--secundary-800);
       }
       &--900{
        background-color: var(--secundary-900);
       }
      }


      &__item-acent{
        text-align: center;
        height: 100px;
       &--100{
        background-color: var(--acent-100);
       }
       &--200{
        background-color: var(--acent-200);
       }
       &--300{
        background-color: var(--acent-300);
       }
       &--400{
        background-color: var(--acent-400);
       }
       &--500{
        background-color: var(--acent-500);
       }
       &--600{
        background-color: var(--acent-600);
       }
       &--700{
        background-color: var(--acent-700);
       }
       &--800{
        background-color: var(--acent-800);
       }
       &--900{
        background-color: var(--acent-900);
       }
      }


}
